<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnxy.competition.dao.CompetitionDao">
    <select id="findCompetitionById" parameterType="String" resultMap="competitionMap">
        SELECT c.competition_id competition_id, c.competition_time competition_time, c.competition_name competition_name,
        c.competition_content competition_content, c.competition_site competition_site, c.competition_state competition_state,
        f.file_id file_id, f.file_name file_name, f.file_path file_path
        FROM t_competition c
        LEFT JOIN t_file f
        ON c.competition_id = f.competition_id
        WHERE c.competition_id = #{v}
    </select>

    <resultMap id="competitionMap" type="com.nnxy.competition.entity.Competition" >
        <id column="competition_id" property="competitionId" javaType="String" />
        <result column="competition_time" property="competitionTime" javaType="String" />
        <result column="competition_name" property="competitionName" javaType="String" />
        <result column="competition_content" property="competitionContent" javaType="String" />
        <result column="competition_site" property="competitionSite" javaType="String" />
        <result column="competition_state" property="competitionState" javaType="Integer" />
        <collection property="files" ofType="com.nnxy.competition.entity.File" column="file_id">
            <id column="file_id" property="fileId" javaType="String"/>
            <result column="file_name" property="fileName" javaType="String" />
            <result column="file_path" property="filePath" javaType="String" />
        </collection>
    </resultMap>


    <insert id="insertCompetition" parameterType="com.nnxy.competition.entity.Competition">
        INSERT INTO t_competition(competition_id, college_id, competition_name, competition_state,
         competition_content, competition_type, competition_time, competition_level, competition_site, competition_people_sum)
         VALUES (#{competitionId} , #{college.collegeId}, #{competitionName}, #{competitionState}, #{competitionContent},
         #{competitionType}, #{competitionTime}, #{competitionLevel}, #{competitionSite}, #{competitionPeopleSum})
    </insert>

    <delete id="deleteCompetitionById" parameterType="String">
        DELETE FROM t_competition WHERE competition_id = #{v}
    </delete>

    <update id="updateCompetition" parameterType="com.nnxy.competition.utils.CompetitionNotificationVO">
        UPDATE t_competition SET competition_name = #{competitionName}, competition_content = #{competitionContent},
        competition_site = #{competitionSite}, competition_type = #{competitionType}, competition_level = #{competitionLevel},
        competition_time = #{competitionTime}, competition_people_sum = #{competitionPeopleSum}
        <if test="collegeId!=null and collegeId!=''">
            , college_id = #{collegeId}
        </if>
        WHERE competition_id = #{competitionId}
    </update>

    <select id="findAllCompetition" resultMap="findAllCompetitionMap">
        SELECT  c.competition_id competition_id, c.competition_time competition_time, c.competition_name competition_name,
        c.competition_content competition_content, c.competition_site competition_site, c.competition_level competition_level,
        c.competition_type competition_type, c.competition_people_sum competition_people_sum,tc.college_name college_name, u.university_name university_name
        FROM t_competition c
        LEFT JOIN t_college tc
        ON c.college_id = tc.college_id
        LEFT JOIN t_university u
        ON tc.university_id = u.university_id
    </select>

    <resultMap id="findAllCompetitionMap" type="com.nnxy.competition.entity.Competition">
        <id column="competition_id" property="competitionId" javaType="String" />
        <result column="competition_time" property="competitionTime" javaType="String" />
        <result column="competition_name" property="competitionName" javaType="String" />
        <result column="competition_content" property="competitionContent" javaType="String" />
        <result column="competition_site" property="competitionSite" javaType="String" />
        <result column="competition_level" property="competitionLevel" javaType="Integer" />
        <result column="competition_type" property="competitionType" javaType="String" />
        <result column="competition_people_sum" property="competitionPeopleSum" javaType="Integer" />
        <association property="college" javaType="com.nnxy.competition.entity.College" column="college_id">
            <id column="college_id" property="collegeId" javaType="String" />
            <result column="college_name" property="collegeName" javaType="String" />
            <association property="university" javaType="com.nnxy.competition.entity.University" column="university_id">
                <id column="university_id" property="universityId" javaType="String" />
                <result column="university_name" property="universityName" javaType="String" />
            </association>
        </association>
    </resultMap>

    <select id="findUserByCompetitionId" parameterType="String" resultMap="findUserByCompetitionIdMap">
        SELECT u.user_id user_id, u.user_className user_className, u.period period,
        u.name name, u.user_name user_name, u.phone phone, u.email email,c.college_id college_id, c.college_name college_name
        FROM t_user_competition uc
        LEFT JOIN t_user u
        ON uc.user_id = u.user_id
        LEFT JOIN t_college c
        ON c.college_id = u.college_id
        WHERE uc.competition_id = #{v}
    </select>

    <resultMap id="findUserByCompetitionIdMap" type="com.nnxy.competition.entity.User" >
        <id column="user_id" property="userId" javaType="String" />
        <result column="user_className" property="userClassName" javaType="String" />
        <result column="period" property="period" javaType="Integer" />
        <result column="name" property="name" javaType="String" />
        <result column="user_name" property="userName" javaType="String" />
        <result column="phone" property="phone" javaType="String" />
        <result column="email" property="email" javaType="String" />
        <association property="college" javaType="com.nnxy.competition.entity.College" column="college_id" >
            <id column="college_id" property="collegeId" javaType="String" />
            <result column="college_name" property="collegeName" javaType="String" />
        </association>
    </resultMap>

    <select id="findCompetitionListByUserId" parameterType="String" resultMap="findCompetitionListByUserIdMap">
        SELECT uc.date dt, c.competition_name competition_name, c.competition_type competition_type,
        c.competition_id competition_id,c.competition_people_sum competition_people_sum, c.competition_state competition_state
        FROM t_user_competition uc
        LEFT JOIN t_competition c
        ON uc.competition_id = c.competition_id
        WHERE uc.user_id = #{v}
    </select>

    <resultMap id="findCompetitionListByUserIdMap" type="com.nnxy.competition.entity.UserCompetition">
        <id column="user_id" property="userId" javaType="String" />
        <result column="dt" property="date" javaType="Long" />
        <association property="competition" javaType="com.nnxy.competition.entity.Competition" column="competition_id">
            <id column="competition_id" property="competitionId" javaType="String" />
            <result column="competition_name" property="competitionName" javaType="String" />
            <result column="competition_state" property="competitionState" javaType="Integer" />
            <result column="competition_type" property="competitionType" javaType="String" />
            <result column="competition_people_sum" property="competitionPeopleSum" javaType="Integer" />
        </association>
    </resultMap>


    <select id="findAllTeamCompetition" resultType="com.nnxy.competition.entity.Competition">
        SELECT  competition_id, competition_name, competition_people_sum
        FROM t_competition
        WHERE competition_people_sum > 1
    </select>



</mapper>