<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnxy.competition.dao.CompetitionTypeDao">
    <select id="findAllCompetitionType" resultType="com.nnxy.competition.entity.CompetitionType">
        SELECT * FROM t_competitiontype
    </select>
</mapper>