<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnxy.competition.dao.FileDao">
    <insert id="insertFile" parameterType="com.nnxy.competition.entity.File">
        INSERT INTO t_file (file_id, competition_id, notification_id, file_name, file_path)
        VALUES (#{fileId}, #{competition.competitionId}, #{notification.notificationId},
        #{fileName}, #{filePath})
    </insert>

    <select id="findFileByCompetitionId" parameterType="String" resultType="com.nnxy.competition.entity.File">
        SELECT * FROM t_file WHERE competition_id = #{v}
    </select>

    <delete id="deleteFileByCompetitionId" parameterType="String">
        DELETE FROM t_file WHERE competition_id = #{v}
    </delete>

    <select id="findFileById" parameterType="String" resultType="com.nnxy.competition.entity.File">
        SELECT * FROM t_file WHERE file_id = #{v}
    </select>

    <delete id="deleteFileById" parameterType="String">
        DELETE FROM t_file WHERE file_id = #{v}
    </delete>


    <select id="findFileByNotificationId" parameterType="String" resultType="com.nnxy.competition.entity.File">
        SELECT * FROM t_file WHERE notification_id = #{v}
    </select>

    <delete id="deleteFileByNnotificationId" parameterType="String">
        DELETE FROM t_file WHERE notification_id = #{v}
    </delete>


</mapper>