<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnxy.competition.dao.RoleDao">

    <select id="getRoleByUserId" parameterType="String" resultType="com.nnxy.competition.entity.Role">
        select r.role_id role_id,r.role_name role_name
        from t_role r
        left join t_user_role ur
        on r.role_id = ur.role_id
        where ur.user_id = #{userId}
    </select>


</mapper>