<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nnxy.competition.dao.UniversityDao">
    <select id="findUniversityByCollegeId" parameterType="String" resultType="com.nnxy.competition.entity.University">

    </select>

</mapper>